extends layout

block content
  h3 Log In
  form(action='/login', method='post')
    div
      input(type='text', name='username', placeholder='username')
    div
      input(type='password', name='password', placeholder='password')
    div
      input.btn.btn-primary(type='submit', value='Log In')

