extends layout

block content
  h3 Register
  form(action='/register', method='post')
    div
      input(type='text', name='email', placeholder='email')
    div
      input(type='password', name='password', placeholder='password')
    div
      input.btn.btn-primary(type='submit', value='Register')

